import("Matrix") #S4 package
import("raster") #S4 package (final version)
import("igraph") #S3 package.
importFrom("methods", Ops, Arith, Compare, Logic)
exportClasses("Transition")
exportPattern("^[^\\.]")
exportMethods("initialize", "show", "coerce", "Ops", "Arith", "Compare", "Logic","[", "[<-")