importFrom("methods", Ops, Arith, Compare, Logic, Math, Math2, Summary, Complex)
importFrom("graphics", hist)
importClassesFrom("sp", Spatial)
exportClasses(Raster, RasterStack)
exportMethods(show)
exportPattern("^[^\\.]")